/* FONT ONEST */
@font-face {
  font-family: "Onest";
  src: url("/assets/font/Onest-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Onest";
  src: url("/assets/font/Onest-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Onest";
  src: url("/assets/font/Onest-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Onest";
  src: url("/assets/font/Onest-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Onest";
  src: url("/assets/font/Onest-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Onest";
  src: url("/assets/font/Onest-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* aeroport */
@font-face {
  font-family: "Aeroport";
  src: url("/assets/font/Aeroport-regular-trial.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* ROOT */
:root {
  /* colors */
  --white: #ffffff;
  --black: #000000;
  --blue: #192189;
  --grey: #6a7282;
  --green: #b3db25;
  --main-bg: #f2f2f2;
  --red: #ce2525;
  --white-grey: #4a5565;
  --button-bg: rgba(74, 85, 101, 0.1);

  /* font sizes */
  --fs-sm-sm: clamp(12px, 0.9vw, 14px);
  --fs-sm: clamp(13px, 1.1vw, 16px);
  --fs-sm-md: clamp(16px, 1.5vw, 20px);
  --fs-md: clamp(16px, 1.5vw, 24px);
  --fs-lg: clamp(24px, 2vw, 32px);
  --fs-xl: clamp(36px, 3vw, 48px);

  /* border radius */
  --br-sm: 12px;
  --br-sm-md: 16px;
  --br-md: 20px;
  --br-sm-lg: 24px;
  --br-lg: 32px;

  /* font family */
  --ff-primary: "Onest", sans-serif;
  --ff-secondary: "Aeroport", sans-serif;
}

/* RESET */
*,
*::after,
*::before {
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
button {
  cursor: pointer;
}
p {
  margin: 0;
}
::placeholder {
  color: unset;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-primary);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
button,
input,
textarea,
select {
  font-family: inherit;
}
.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 clamp(20px, 3vw, 50px);
}

*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
  border-left: 1px solid transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 20px;
  border: 4px solid transparent;
  background-clip: padding-box;
}
/* ====================================================================== */
/* language dropdown start */
.lang-dropdown {
  position: relative;
  display: inline-block;
}

.lang-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: clamp(10px, 1vw, 16px);
  background-color: var(--button-bg);
  border: none;
  border-radius: var(--br-sm-lg);
  color: var(--white-grey);
  font-size: var(--fs-sm);
  font-weight: 600;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    transform 0.1s ease;
  outline: none;
}

.lang-btn:hover {
  background-color: #d3d3d3;
}

.lang-arrow {
  color: var(--white-grey);
  transition: transform 0.2s ease;
}

.lang-dropdown.open .lang-arrow {
  transform: rotate(180deg);
}

.lang-menu {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  min-width: 100%;
  margin: 0;
  list-style: none;
  border-radius: var(--br-sm);
  background-color: var(--button-bg);
  border-radius: var(--br-sm);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-8px);
  transition:
    opacity 0.2s ease,
    transform 0.2s ease,
    visibility 0.2s;
  z-index: 100;
}

.lang-dropdown.open .lang-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.lang-option {
  padding: 8px 18px;
  font-size: var(--fs-sm);
  border-radius: var(--br-sm);
  font-weight: 500;
  color: var(--white-grey);
  cursor: pointer;
  transition: background-color 0.15s ease;
}

.lang-option:hover {
  background-color: var(--button-bg);
}

.lang-option.hidden {
  display: none;
}
/* language dropdown end */
/* ====================================================================== */
.sign-in {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.sign-in .container {
  padding: 20px;
}

.sign-in-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 20px;
  min-height: calc(100vh - 40px);
}

.sign-in-wrapper .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.sign-in-wrapper .left .language-wrapper {
  display: flex;
  justify-content: end;
}

.sign-in-wrapper .left .form-wrapper {
  max-width: 680px;
  margin: 0 auto;
  padding: 24px;
  width: 100%;
}

.sign-in-wrapper .left .form-wrapper .form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 32px;
}

.sign-in-wrapper .left .form-wrapper .form-header img {
  width: auto;
}

.sign-in-wrapper .left .form-wrapper .form-header h1 {
  font-size: var(--fs-lg);
  font-weight: 500;
  color: var(--black);
  line-height: 130%;
  letter-spacing: 0;
}

.sign-in-wrapper .left .form-wrapper .form-header p {
  font-size: var(--fs-sm);
  font-weight: 400;
  color: var(--white-grey);
  line-height: 130%;
  letter-spacing: 0;
}

.sign-in-wrapper .left .form-wrapper .form-body .auth-tabs {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.sign-in-wrapper .left .form-wrapper .form-body .auth-tabs .tabs-header {
  display: flex;
  gap: 4px;
  background-color: var(--button-bg);
  padding: 4px;
  border-radius: var(--br-sm);
}

.sign-in-wrapper
  .left
  .form-wrapper
  .form-body
  .auth-tabs
  .tabs-header
  .tab-btn {
  flex: 1;
  padding: 14px 16px;
  border: none;
  background: transparent;
  color: var(--grey);
  font-size: var(--fs-sm-sm);
  font-weight: 500;
  border-radius: var(--br-sm);
  transition: all 0.25s ease;
}

.sign-in-wrapper
  .left
  .form-wrapper
  .form-body
  .auth-tabs
  .tabs-header
  .tab-btn.active {
  background-color: var(--blue);
  color: var(--white);
}

.sign-in-wrapper .left .form-wrapper .form-body .auth-tabs .tab-pane {
  display: none;
}

.sign-in-wrapper .left .form-wrapper .form-body .auth-tabs .tab-pane.active {
  display: block;
  animation: fadeIn 0.3s ease;
}

.sign-in-wrapper .left .form-wrapper .form-body .auth-tabs .auth-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.sign-in-wrapper .left .form-wrapper .form-body .auth-tabs .input-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sign-in-wrapper .left .form-wrapper .form-body .auth-tabs .input-group label {
  font-size: var(--fs-sm-sm);
  color: var(--grey);
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0;
}

.sign-in-wrapper .left .form-wrapper .form-body .auth-tabs .input-group input {
  width: 100%;
  padding: 20px 24px;
  border: 1px solid #e5e7eb;
  border-radius: var(--br-sm);
  font-size: var(--fs-sm);
  font-family: inherit;
  outline: none;
  transition: border-color 0.2s ease;
  color: var(--grey);
}

.sign-in-wrapper
  .left
  .form-wrapper
  .form-body
  .auth-tabs
  .input-group
  input:focus {
  border-color: var(--blue);
}

.sign-in-wrapper
  .left
  .form-wrapper
  .form-body
  .auth-tabs
  .input-group
  input::placeholder {
  color: var(--grey);
}

.sign-in-wrapper .left .form-wrapper .form-body .auth-tabs .submit-btn {
  width: 100%;
  padding: 20px;
  border: none;
  border-radius: var(--br-md);
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition:
    opacity 0.2s ease,
    background-color 0.2s ease;
}

.sign-in-wrapper .left .form-wrapper .form-body .auth-tabs .default-btn {
  background-color: var(--green);
  color: var(--blue);
}

.sign-in-wrapper .left .form-wrapper .form-body .auth-tabs .primary-btn {
  background-color: var(--green);
  color: var(--blue);
}

.sign-in-wrapper
  .left
  .form-wrapper
  .form-body
  .auth-tabs
  .submit-btn:disabled {
  background-color: var(--button-bg);
  color: rgba(25, 33, 137, 0.5);
  cursor: not-allowed;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.sign-in-wrapper
  .left
  .form-wrapper
  .form-body
  .auth-tabs
  .auth-form
  .password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.sign-in-wrapper
  .left
  .form-wrapper
  .form-body
  .auth-tabs
  .auth-form
  .password-wrapper
  input {
  padding-right: 44px;
}

.sign-in-wrapper
  .left
  .form-wrapper
  .form-body
  .auth-tabs
  .auth-form
  .password-wrapper
  .toggle-password {
  position: absolute;
  right: 12px;
  background: none;
  border: none;
  color: var(--grey);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
}

.sign-in-wrapper
  .left
  .form-wrapper
  .form-body
  .auth-tabs
  .auth-form
  .password-wrapper
  .toggle-password
  img {
  width: 20px;
  height: 20px;
}

.sign-in-wrapper
  .left
  .form-wrapper
  .form-body
  .auth-tabs
  .auth-form
  .forgot-wrapper {
  text-align: right;
}

.sign-in-wrapper
  .left
  .form-wrapper
  .form-body
  .auth-tabs
  .auth-form
  .forgot-link {
  font-size: 12px;
  color: var(--blue);
  font-weight: 500;
}

.sign-in-wrapper
  .left
  .form-wrapper
  .form-body
  .auth-tabs
  .auth-form
  .form-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  text-align: center;
  font-size: var(--fs-sm-sm);
  color: var(--grey);
  line-height: 130%;
  letter-spacing: 0;
}

.sign-in-wrapper
  .left
  .form-wrapper
  .form-body
  .auth-tabs
  .auth-form
  .form-footer
  .link {
  color: var(--blue);
  font-weight: 600;
}

.sign-in-wrapper .left .left-footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.sign-in-wrapper .left .left-footer-wrapper p {
  font-size: 14px;
  font-weight: 400;
  color: var(--grey);
  line-height: 130%;
  letter-spacing: 0;
}

.sign-in-wrapper .right img {
  border-radius: var(--br-lg);
  height: 100%;
  object-fit: cover;
}
/* ====================================================================== */
/* sign in otp start */
.sign-in-wrapper .left .form-wrapper .form-body .auth-tabs .hidden {
  display: none !important;
}

.sign-in-wrapper
  .left
  .form-wrapper
  .form-body
  .auth-tabs
  .auth-form
  .otp-container {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.sign-in-wrapper
  .left
  .form-wrapper
  .form-body
  .auth-tabs
  .auth-form
  .otp-input {
  width: 100%;
  max-width: 134px;
  height: 56px;
  padding: 0;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  border-radius: var(--br-sm);
  background-color: var(--white);
  outline: none;
  transition: all 0.2s ease;
}

.sign-in-wrapper
  .left
  .form-wrapper
  .form-body
  .auth-tabs
  .auth-form
  .otp-input::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.sign-in-wrapper
  .left
  .form-wrapper
  .form-body
  .auth-tabs
  .auth-form
  .otp-input:focus {
  border-color: var(--blue);
  color: var(--blue);
}

.sign-in-wrapper
  .left
  .form-wrapper
  .form-body
  .auth-tabs
  .auth-form
  .resend-text {
  font-size: var(--fs-sm-sm);
  color: var(--grey);
  text-align: center;
}

.sign-in-wrapper
  .left
  .form-wrapper
  .form-body
  .auth-tabs
  .auth-form
  .resend-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign-in-wrapper
  .left
  .form-wrapper
  .form-body
  .auth-tabs
  .auth-form
  .resend-wrapper
  .resend-link {
  background-color: transparent;
  color: var(--blue);
  border: none;
  text-decoration: underline;
  font-size: var(--fs-sm-sm);
}

.sign-in-wrapper
  .left
  .form-wrapper
  .form-body
  .auth-tabs
  .auth-form
  .back-btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background: var(--button-bg);
  border: none;
  padding: 16px 32px;
  border-radius: var(--br-sm);
  color: var(--white-grey);
  font-size: var(--fs-sm);
  font-weight: 600;
  cursor: pointer;
  margin: 0 auto 0 0;
}
/* sign in otp end */
/* ====================================================================== */
/* sign in reset pass start */
.password-strength-bars {
  display: flex;
  gap: 8px;
}

.password-strength-bars .bar {
  height: 4px;
  flex: 1;
  background-color: var(--main-bg);
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.password-strength-bars .bar.active {
  background-color: var(--green);
}

.strength-hint {
  font-size: var(--fs-sm);
  color: var(--grey);
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0;
}

.input-field-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sign-in-wrapper
  .left
  .form-wrapper
  .form-body
  .auth-tabs
  .auth-form
  .input-field-container
  .password-wrapper {
  flex: 1;
}

.status-icon {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  opacity: 1;
  color: #9e9e9e;
  transition: color 0.3s ease;
}

.sign-in-wrapper
  .left
  .form-wrapper
  .form-body
  .auth-tabs
  .auth-form
  .password-wrapper.invalid
  input {
  border-color: var(--red) !important;
}

.error-message {
  display: block;
  font-size: 12px;
  color: var(--red);
  margin-top: 6px;
}

.error-message.hidden {
  display: none;
}

.password-strength-bars .bar.active {
  background-color: var(--green);
}
/* sign in reset pass end */
/* ====================================================================== */
/* HOME PAGE START */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 21.5px 0;
}
.nav-icon {
  display: none;
}
.nav .logo-wrapper img {
  width: 100%;
  max-width: 212px;
}

.mobile-menu-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  flex: 1;
}

.nav .nav-menu-wrapper {
  margin: 0 auto;
}

.nav .nav-menu-wrapper ul {
  display: flex;
  align-items: center;
  gap: clamp(20px, 2.5vw, 40px);
}

.nav .nav-menu-wrapper ul li a {
  font-size: var(--fs-md);
  font-weight: 400;
  color: var(--black);
  letter-spacing: 0;
  line-height: 100%;
  font-family: var(--ff-secondary);
}

.nav .nav-menu-wrapper ul li a.active {
  color: var(--blue);
  border-bottom: 1px solid var(--blue);
  padding-bottom: 10px;
}

.nav .right-nav-menu-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav .right-nav-menu-wrapper .profile-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.nav .right-nav-menu-wrapper .profile-wrapper .user-icon {
  background-color: var(--blue);
  border-radius: var(--br-sm);
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav .right-nav-menu-wrapper .profile-wrapper .user-icon img {
  width: 20px;
  height: 20px;
}

.nav .right-nav-menu-wrapper .profile-wrapper a {
  color: var(--white-grey);
  font-size: var(--fs-sm);
  font-weight: 600;
  letter-spacing: 0;
  line-height: 120%;
}

.nav .right-nav-menu-wrapper .profile-wrapper a::after {
  content: "";
  position: absolute;
  inset: 0;
}

.nav .right-nav-menu-wrapper .exit-wrapper {
  background-color: var(--button-bg);
  border-radius: var(--br-lg);
  height: clamp(37px, 5vw, 48px);
  width: clamp(37px, 5vw, 48px);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.nav .right-nav-menu-wrapper .exit-wrapper:hover {
  background-color: #d3d3d3;
}

.nav .right-nav-menu-wrapper .exit-wrapper img {
  width: clamp(15px, 1.5vw, 20px);
  height: clamp(15px, 1.5vw, 20px);
}
.burger-btn {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 1001;
}

body.no-scroll {
  overflow: hidden;
}

/* tabs */
.mobile-header,
.btn-calc-mobile {
  display: none;
}

.home-tab {
  background-color: #f2f2f2;
  padding: clamp(20px, 4vw, 50px) 0;
  min-height: 100vh;
}

.home-tab .home-tab-header {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: clamp(25px, 4vw, 50px);
}

.home-tab .home-tab-header p {
  font-size: var(--fs-sm-md);
  font-weight: 400;
  color: var(--white-grey);
  line-height: 130%;
  letter-spacing: 0;
}

.home-tab .home-tab-header h1 {
  font-size: var(--fs-xl);
  font-weight: 400;
  color: var(--black);
  line-height: 130%;
  letter-spacing: 0;
}
.home-tab-container {
  margin-bottom: clamp(25px, 4vw, 50px);
}
.home-tab-container .tab-wrapper {
  width: 100%;
}

.home-tab-container .tab-wrapper .tab-group {
  display: flex;
  align-items: center;
}

.home-tab-container .tab-wrapper .tab-group .tab {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 24px 50px;
  background-color: rgba(255, 255, 255, 0.2);
  border-top-left-radius: var(--br-sm-md);
  border-top-right-radius: var(--br-sm-md);
  color: var(--white-grey);
  font-size: var(--fs-sm);
  font-weight: 500;
  border: none;
  width: 100%;
  line-height: 120%;
}

.home-tab-container .tab-wrapper .tab-group .tab img {
  width: 20px;
  height: 20px;
}

.home-tab-container .tab-wrapper .tab-group .tab.active {
  background-color: var(--white);
  color: var(--blue);
  font-weight: 600;
}

.home-tab-container .tab-wrapper .tab-group .tab.active img {
  filter: brightness(0) invert(13%) sepia(85%) saturate(4153%)
    hue-rotate(237deg) brightness(85%) contrast(101%);
}

.home-tab-container .tab-wrapper .tab-content {
  background-color: var(--white);
  border-bottom-left-radius: var(--br-sm-md);
  border-bottom-right-radius: var(--br-sm-md);
}

.home-tab-container .tab-wrapper .tab-pane {
  display: none;
  padding: 16px;
}

.home-tab-container .tab-wrapper .tab-pane {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.home-tab-container .tab-wrapper .tab-pane input {
  width: 100%;
  border: 1px solid #e5e7eb;
  /* padding: 20px 24px; */
  padding: clamp(10px, 1.5vw, 20px) clamp(14px, 1.5vw, 24px);
  border-radius: var(--br-sm);
  font-weight: 400;
  font-size: var(--fs-sm);
  color: var(--black);
  letter-spacing: 0;
  line-height: 130%;
}

.home-tab-container .tab-wrapper .tab-pane input:focus {
  outline: none;
  box-shadow: none;
  border-color: var(--blue);
}

.home-tab-container .tab-wrapper .tab-pane input::placeholder {
  color: var(--white-grey);
}

.home-tab-container .tab-wrapper .tab-pane button {
  padding: clamp(10px, 1.5vw, 20px);
  width: 100%;
  background-color: var(--green);
  color: var(--blue);
  font-weight: 600;
  font-size: var(--fs-sm-sm);
  border: none;
  border-radius: var(--br-md);
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.home-tab-container .tab-wrapper .tab-pane button:hover {
  background-color: var(--blue);
  color: var(--white);
}

.parcels-section {
  /* margin-top: clamp(25px, 4vw, 50px); */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.parcels-section .filters-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.parcels-section .filters-bar .filter-group {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.parcels-section .filters-bar .filter-group .filter-label {
  font-size: var(--fs-sm-sm);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 130%;
  color: var(--white-grey);
}

.parcels-section .filters-bar .filter-group .filter-btn {
  background: var(--white);
  border: none;
  border-radius: 6px;
  padding: 6px 12px;
  font-size: calc(var(--fs-sm-sm) + 1px);
  color: var(--white-grey);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  gap: 8px;
  transition: all 0.2s ease;
}

.parcels-section .filters-bar .filter-group .filter-btn.active {
  background: var(--blue);
  color: var(--white);
}

.parcels-section .filters-bar .filter-group .filter-btn .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  display: inline-block;
}

.status-new .dot {
  background-color: #3380ff;
}
.status-stock .dot {
  background-color: #598c59;
}
.status-sorting .dot {
  background-color: #f2a600;
}
.status-sent .dot {
  background-color: #ac32a4;
}
.status-transit .dot {
  background-color: #188b30;
}
.status-ready .dot {
  background-color: #00b28c;
}
.status-courier .dot {
  background-color: #8c4dd9;
}
.status-returned .dot {
  background-color: #e53833;
}

.parcel-card-wrapper {
  background: #ffffff;
  border-radius: var(--br-md);
  padding: clamp(8px, 2vw, 32px);
}
.parcel-card {
  background: var(--main-bg);
  border-radius: var(--br-md);
  padding: clamp(16px, 2vw, 32px);
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.parcel-card .parcel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.parcel-card .parcel-header .parcel-title-group {
  display: flex;
  align-items: center;
  gap: 16px;
}

.parcel-card .parcel-header .parcel-icon {
  width: 48px;
  height: 48px;
  background-color: rgba(25, 33, 137, 0.1);
  border-radius: var(--br-sm-md);
  display: flex;
  align-items: center;
  justify-content: center;
}
.parcel-card .parcel-header .parcel-icon img {
  width: 20px;
  height: 20px;
}

.parcel-card .parcel-header .parcel-title {
  font-size: var(--fs-md);
  font-weight: 500;
  color: var(--black);
  line-height: 100%;
  letter-spacing: -0.45px;
  margin-bottom: 4px;
}

.parcel-card .parcel-header .parcel-id {
  font-size: var(--fs-sm-sm);
  color: var(--blue);
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0;
}

.parcel-card .parcel-header .status-badge {
  padding: 6px 12px;
  border-radius: calc(var(--br-md) - 4px);
  font-size: var(--fs-sm-sm);
  font-weight: 500;
}

.parcel-card .parcel-header .status-in-transit {
  background-color: #dcf6e0;
  color: #188b30;
}

.parcel-card .parcel-route {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.parcel-card .parcel-route .progress-line-container {
  height: 6px;
  background-color: #e8e9f4;
  border-radius: 2px;
  position: relative;
  width: 100%;
}

.parcel-card .parcel-route .progress-line-container .progress-line {
  height: 100%;
  background-color: var(--blue);
  border-radius: 2px;
  width: 0%;
  transition: width 0.5s ease-in-out;
}

.parcel-card .parcel-route .progress-line-container .progress-point.current {
  width: 10px;
  height: 10px;
  background-color: var(--blue);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
  transition: left 0.5s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.parcel-card .parcel-route .route-locations {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.parcel-card .parcel-route .location-pill {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  border: 1px solid rgba(74, 85, 101, 0.2);
  border-radius: 100px;
  padding: 16px;
  font-size: var(--fs-sm-sm);
  color: var(--black);
  font-weight: 500;
}

.parcel-card .parcel-route .location-pill img {
  width: 16px;
  height: 16px;
}

.parcel-card .parcel-route .location-pill .date {
  color: var(--white-grey);
  font-size: calc(var(--fs-sm-sm) - 2px);
  letter-spacing: 0;
  line-height: 100%;
}

.parcel-card .parcel-details {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.parcel-card .detail-block {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.parcel-card .detail-block .detail-label {
  font-size: calc(var(--fs-sm-sm) - 2px);
  color: var(--white-grey);
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0;
}

.parcel-card .detail-block .detail-name {
  font-size: var(--fs-sm);
  font-weight: 600;
  color: var(--black);
  line-height: 130%;
  letter-spacing: 0;
}

.parcel-card .detail-block .detail-address,
.parcel-card .detail-block .detail-desc {
  font-size: var(--fs-sm-sm);
  color: var(--white-grey);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 150%;
}

.parcel-card .detail-row {
  display: flex;
  gap: 40px;
}

.parcel-card .detail-val {
  font-size: var(--fs-sm);
  font-weight: 600;
  color: var(--black);
  line-height: 130%;
  letter-spacing: 0;
}

.parcel-card .track-action-btn {
  align-self: flex-start;
  background-color: var(--green);
  color: var(--blue);
  border: none;
  border-radius: calc(var(--br-md) - 4px);
  padding: clamp(10px, 1vw, 16px) clamp(16px, 2vw, 32px);
  font-size: var(--fs-sm-sm);
  font-weight: 500;
  cursor: pointer;
  letter-spacing: -0.45px;
  line-height: 100%;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  transition: all 0.3s ease-in-out;
}

.parcel-card .track-action-btn img {
  transition: all 0.3s ease-in-out;
}
.parcel-card .track-action-btn:hover {
  background-color: var(--blue);
  color: var(--white);
}
.parcel-card .track-action-btn:hover img {
  filter: brightness(0) invert(1);
}
/* HOME PAGE END */
/* ====================================================================== */
/* CALCULATOR START */
.calc-container {
  display: flex;
  flex-direction: column;
  gap: clamp(16px, 4vw, 50px);
  padding: clamp(20px, 4vw, 50px) 0;
}
.calc-container .back-wrapper a {
  background-color: var(--main-bg);
  border-radius: var(--br-sm-md);
  padding: clamp(10px, 1vw, 16px) clamp(16px, 2vw, 32px);
  font-weight: 500;
  font-size: var(--fs-sm);
  color: var(--white-grey);
  display: inline-block;
  transition: all 0.3s ease-out;
}
.calc-container .back-wrapper a:hover {
  background-color: #d3d3d3;
}
.calc-container .calc-header-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.calc-container .calc-header-wrapper span {
  font-size: var(--fs-sm-md);
  color: var(--white-grey);
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0;
}
.calc-container .calc-header-wrapper h1 {
  font-size: clamp(38px, 4vw, 64px);
  color: var(--black);
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -1.5px;
}

.calc-wrapper {
  background: var(--white);
  border: 1px solid var(--main-bg);
  border-radius: var(--br-lg);
  padding: clamp(16px, 2vw, 32px);
}

.calc-wrapper .calc-route-section {
  display: flex;
  align-items: center;
  position: relative;
  gap: 16px;
  margin-bottom: clamp(16px, 2vw, 32px);
}

.calc-wrapper .calc-card {
  flex: 1;
  background-color: rgba(242, 242, 242, 0.3);
  padding: clamp(24px, 2vw, 32px);
  border-radius: var(--br-lg);
  border: 1px solid var(--main-bg);
  display: flex;
  flex-direction: column;
  gap: clamp(20px, 1.5vw, 24px);
  width: 100%;
}

.calc-wrapper .calc-card .calc-card-title {
  font-weight: 600;
  font-size: var(--fs-lg);
  color: var(--black);
  line-height: 130%;
  letter-spacing: 0;
}
.calc-wrapper .calc-card .input-field-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.calc-wrapper .calc-card .input-field-group .field-label {
  display: block;
  font-size: var(--fs-sm-sm);
  color: var(--grey);
  line-height: 130%;
  letter-spacing: 0;
}

.calc-wrapper
  .calc-card
  .input-field-group
  .custom-select-wrapper
  .city-select {
  width: 100%;
  /* padding: 20px 24px; */
  padding: clamp(10px, 1.5vw, 20px) clamp(14px, 1.5vw, 24px);
  background: var(--white);
  border: 1px solid #e5e7eb;
  border-radius: var(--br-sm);
  font-size: var(--fs-sm);
  color: var(--white-grey);
  outline: none;
  cursor: pointer;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%238c8c8c' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 16px;
}

.calc-wrapper .calc-card .quick-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.calc-wrapper .calc-card .quick-tags .tag-btn {
  background: var(--main-bg);
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: var(--fs-sm);
  cursor: pointer;
  color: var(--white-grey);
  transition: all 0.2s ease;
}

.calc-wrapper .calc-card .quick-tags .tag-btn.active {
  background: var(--blue);
  color: var(--white);
}

.calc-wrapper .swap-btn {
  padding: 10px;
  border-radius: 50%;
  background: var(--green);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
  flex-shrink: 0;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}
.calc-wrapper .swap-btn img {
  width: clamp(15px, 1.5vw, 25px);
  height: clamp(15px, 1.5vw, 25px);
}

.calc-wrapper .swap-btn:hover {
  transform: rotate(180deg) scale(1.05);
}

.calc-wrapper .calc-dimensions {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin-bottom: clamp(16px, 2vw, 32px);
}
.calc-wrapper .calc-dimensions .input-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.calc-wrapper .calc-dimensions .input-group label {
  display: block;
  font-size: var(--fs-sm);
  color: var(--grey);
}

.calc-wrapper .calc-dimensions .input-group input {
  width: 100%;
  /* padding: 20px 24px; */
  padding: clamp(10px, 1.5vw, 20px) clamp(14px, 1.5vw, 24px);
  border: 1px solid #e5e7eb;
  border-radius: var(--br-sm);
  font-size: var(--fs-sm);
  color: var(--grey);
  box-sizing: border-box;
  outline: none;
}

.calc-wrapper .calc-dimensions .input-group input:focus {
  border-color: var(--blue);
}

.calc-wrapper .calc-footer {
  display: flex;
  align-items: center;
  gap: 16px;
}

.calc-wrapper .calc-footer .calc-submit-btn {
  background: var(--green);
  border: none;
  padding: clamp(10px, 1.5vw, 20px) clamp(20px, 3vw, 40px);
  border-radius: var(--br-md);
  font-weight: 700;
  font-size: var(--fs-sm-sm);
  letter-spacing: 2px;
  color: var(--blue);
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.calc-wrapper .calc-footer .calc-submit-btn:hover {
  background-color: var(--blue);
  color: var(--white);
}

.calc-wrapper .calc-footer .calc-note {
  font-size: var(--fs-sm);
  line-height: 130%;
  letter-spacing: 0;
  font-weight: 400;
  color: var(--grey);
}

#from-card {
  order: 1;
}

#swap-btn {
  order: 2;
}

#to-card {
  order: 3;
}

.calc-route-section.is-swapped #from-card {
  order: 3;
}

.calc-route-section.is-swapped #to-card {
  order: 1;
}
/* CALCULATOR END */

/* PROFILE START */
/* personal start */
.profile-page {
  min-height: calc(100vh - 120px);
}

.profile-page .profile-container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 350px minmax(0, 1fr);
  min-height: calc(100vh - 120px);
}

.profile-page .profile-container .profile-sidebar {
  background: var(--white);
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-page .profile-container .profile-sidebar .profile-user {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}

.profile-page .profile-container .profile-sidebar .profile-user .profile-name {
  color: var(--black);
  font-size: var(--fs-sm-md);
  line-height: 130%;
  letter-spacing: 0;
  font-weight: 400;
  text-align: center;
  margin-bottom: 3px;
}

.profile-page .profile-container .profile-sidebar .profile-user .profile-email {
  max-width: 170px;
  color: var(--grey);
  font-size: var(--fs-sm-sm);
  line-height: 1.4;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.profile-page .profile-container .profile-sidebar .profile-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.profile-page
  .profile-container
  .profile-sidebar
  .profile-menu
  .profile-menu-item {
  width: 100%;
  min-height: 25px;
  padding: clamp(10px, 1.1vw, 18px) clamp(14px, 1.5vw, 20px);
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 80px;
  color: var(--black);
  font-size: var(--fs-sm);
  line-height: 130%;
  letter-spacing: 0;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

.profile-page
  .profile-container
  .profile-sidebar
  .profile-menu
  .profile-menu-item
  svg {
  flex: 0 0 auto;
}

.profile-page
  .profile-container
  .profile-sidebar
  .profile-menu
  .profile-menu-item
  img {
  width: 16px;
  height: 16px;
}

.profile-page
  .profile-container
  .profile-sidebar
  .profile-menu
  .profile-menu-item:hover {
  background: rgba(179, 219, 37, 0.12);
}

.profile-page
  .profile-container
  .profile-sidebar
  .profile-menu
  .profile-menu-item.active {
  background: var(--green);
  color: var(--blue);
}

.profile-page
  .profile-container
  .profile-sidebar
  .profile-menu
  .profile-menu-item.active
  svg {
  color: var(--blue);
}

.profile-page
  .profile-container
  .profile-sidebar
  .profile-menu
  .profile-menu-item.active
  img {
  filter: brightness(0) invert(13%) sepia(85%) saturate(4153%)
    hue-rotate(237deg) brightness(85%) contrast(101%);
}

.profile-page .profile-container .profile-tab-content {
  display: none;
  min-width: 0;
  padding: clamp(25px, 4vw, 50px);
  background-color: var(--main-bg);
}

.profile-page .profile-container .profile-tab-content.active {
  display: block;
  animation: profileFade 0.25s ease;
}

@keyframes profileFade {
  from {
    opacity: 0;
    transform: translateY(5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.profile-page .profile-container .profile-tab-content .profile-card {
  width: 100%;
  background: var(--white);
  border-radius: var(--br-md);
  padding: clamp(16px, 2vw, 32px);
  margin: 0 auto;
}

.profile-page
  .profile-container
  .profile-tab-content
  .profile-card
  .profile-title {
  color: var(--black);
  font-size: var(--fs-lg);
  line-height: 130%;
  letter-spacing: 0;
  font-weight: 400;
  margin-bottom: 24px;
}

.profile-page
  .profile-container
  .profile-tab-content
  .profile-card
  .profile-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.profile-page
  .profile-container
  .profile-tab-content
  .profile-card
  .profile-form
  .profile-form-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.profile-page
  .profile-container
  .profile-tab-content
  .profile-card
  .profile-form
  .profile-field {
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile-page
  .profile-container
  .profile-tab-content
  .profile-card
  .profile-form
  .profile-field
  label {
  color: var(--grey);
  font-size: calc(var(--fs-sm-sm) - 2px);
  line-height: 130%;
  letter-spacing: 0;
  font-weight: 400;
}

.profile-page
  .profile-container
  .profile-tab-content
  .profile-card
  .profile-form
  .profile-field
  input,
.profile-page
  .profile-container
  .profile-tab-content
  .profile-card
  .profile-form
  .profile-field
  select {
  width: 100%;
  padding: clamp(10px, 1.5vw, 20px) clamp(14px, 1.5vw, 24px);
  border: 1px solid #e4e7eb;
  border-radius: var(--br-sm);
  outline: none;
  color: var(--black);
  font-size: var(--fs-sm);
  font-weight: 400;
  transition:
    border-color 0.2s ease,
    box-shadow 0.2s ease;
}

.profile-page
  .profile-container
  .profile-tab-content
  .profile-card
  .profile-form
  .profile-field
  input::placeholder {
  color: var(--grey);
}

.profile-page
  .profile-container
  .profile-tab-content
  .profile-card
  .profile-form
  .profile-field
  input:focus,
.profile-page
  .profile-container
  .profile-tab-content
  .profile-card
  .profile-form
  .profile-field
  select:focus {
  border-color: var(--blue);
}

.profile-page
  .profile-container
  .profile-tab-content
  .profile-card
  .profile-form
  .phone-field {
  position: relative;
}

.profile-page
  .profile-container
  .profile-tab-content
  .profile-card
  .profile-form
  .phone-field
  input {
  padding-right: 100px;
}

.profile-page
  .profile-container
  .profile-tab-content
  .profile-card
  .profile-form
  .phone-field
  .phone-verified {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 4px;
  color: #28a13e;
  font-size: var(--fs-sm);
  font-weight: 500;
}

.profile-page
  .profile-container
  .profile-tab-content
  .profile-card
  .profile-form
  .phone-field
  .phone-verified
  svg {
  width: clamp(15px, 1.5vw, 20px);
  height: clamp(15px, 1.5vw, 20px);
  background: #39a844;
  color: var(--white);
  border-radius: 50%;
  padding: 1px;
}

.profile-page
  .profile-container
  .profile-tab-content
  .profile-form
  .select-wrapper {
  position: relative;
}

.profile-page
  .profile-container
  .profile-tab-content
  .profile-form
  .select-wrapper
  select {
  appearance: none;
  -webkit-appearance: none;
  padding-right: 35px;
  cursor: pointer;
}

.profile-page
  .profile-container
  .profile-tab-content
  .profile-form
  .select-wrapper
  .select-arrow {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: var(--grey);
}

.profile-page
  .profile-container
  .profile-tab-content
  .profile-form
  .profile-actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  margin-top: 1px;
}

.profile-page
  .profile-container
  .profile-tab-content
  .profile-form
  .profile-actions
  .profile-btn {
  border: 0;
  padding: clamp(10px, 1.5vw, 20px);
  border-radius: var(--br-md);
  font-family: inherit;
  font-size: var(--fs-sm-sm);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
}

.profile-page
  .profile-container
  .profile-tab-content
  .profile-form
  .profile-actions
  .profile-btn:active {
  transform: scale(0.99);
}

.profile-page
  .profile-container
  .profile-tab-content
  .profile-form
  .profile-actions
  .profile-btn-cancel {
  background: var(--button-bg);
  color: var(--blue);
}

.profile-page
  .profile-container
  .profile-tab-content
  .profile-form
  .profile-actions
  .profile-btn-cancel:hover {
  background: rgba(74, 85, 101, 0.16);
}

.profile-page
  .profile-container
  .profile-tab-content
  .profile-form
  .profile-actions
  .profile-btn-save {
  background: var(--green);
  color: var(--blue);
}

.profile-page
  .profile-container
  .profile-tab-content
  .profile-form
  .profile-actions
  .profile-btn-save:hover {
  background-color: var(--blue);
  color: var(--white);
}
/* personal end */

/* address start */
.profile-page .profile-container .profile-card .address-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.profile-page .profile-container .profile-card .address-wrapper h2 {
  font-weight: 400;
  font-size: var(--fs-lg);
  color: var(--black);
  line-height: 130%;
  letter-spacing: 0;
}

.profile-page .profile-container .profile-card .address-wrapper button {
  border-radius: var(--br-md);
  font-weight: 600;
  font-size: var(--fs-sm-sm);
  letter-spacing: 2px;
  padding: clamp(10px, 1.5vw, 20px);
  background-color: var(--green);
  color: var(--blue);
  border: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.profile-page .profile-container .profile-card .address-wrapper button:hover {
  background-color: var(--blue);
  color: var(--white);
}

/* Address List & Cards */
.profile-card .addresses-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 24px;
}

.profile-card .address-item-card {
  border: 1px solid #e4e7eb;
  border-radius: var(--br-sm-lg);
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-shadow: 0px 8px 24px 0px #0000001f;
}

.profile-card .address-item-card .address-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.profile-card .address-item-card .address-item-header .address-title-group {
  display: flex;
  align-items: center;
  gap: 16px;
}

.profile-card
  .address-item-card
  .address-item-header
  .address-title-group
  .address-region-title {
  font-size: var(--fs-sm-md);
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.45px;
  color: var(--black);
}

.profile-card
  .address-item-card
  .address-item-header
  .address-title-group
  .badge-main {
  background: #dcf6e0;
  color: #188b30;
  padding: 10px 16px;
  border-radius: var(--br-sm-md);
  font-size: 12px;
  font-weight: 500;
}

.profile-card .address-item-card .address-item-header .address-actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.profile-card
  .address-item-card
  .address-item-header
  .address-actions
  .action-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--white-grey);
  transition: color 0.2s;
  padding: 4px;
}

.profile-card
  .address-item-card
  .address-item-header
  .address-actions
  .action-btn
  svg {
  width: 20px;
  height: 20px;
}

.profile-card
  .address-item-card
  .address-item-header
  .address-actions
  .action-btn:hover {
  color: var(--black);
}

.profile-card
  .address-item-card
  .address-item-header
  .address-actions
  .action-btn.star-btn.active {
  color: #b3db25;
  fill: #b3db25;
}

.profile-card .address-item-card .address-info-line {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: var(--fs-sm);
  color: var(--black);
  line-height: 130%;
  letter-spacing: 0;
}

.profile-card .address-item-card .address-info-line .address-info-label {
  color: var(--white-grey);
  font-size: var(--fs-sm-sm);
  line-height: 150%;
  letter-spacing: 0;
  font-weight: 400;
}

.profile-card .address-item-card .btn-show-map {
  align-self: flex-start;
  padding: 16px 32px;
  background: var(--green);
  color: var(--blue);
  border: none;
  border-radius: var(--br-sm-md);
  font-weight: 500;
  font-size: var(--fs-sm);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: none;
}

.profile-card .address-item-card .btn-show-map:hover {
  background: var(--blue);
  color: var(--white);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1001;
}

.modal.active {
  display: flex;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  background: var(--white);
  border-radius: 10px;
  width: calc(100% - 20px);
  max-width: 700px;
  padding: clamp(25px, 4vw, 50px);
  z-index: 1003;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.modal-small {
  max-width: 442px;
}

.modal-close {
  position: absolute;
  top: 16px;
  right: 20px;
  background: none;
  border: none;
  color: var(--grey);
  cursor: pointer;
  border-radius: 50%;
  line-height: 100%;
  padding: 14px;
  background-color: var(--main-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-close img {
  width: 12px;
  height: 12px;
}

.modal-title {
  font-size: var(--fs-lg);
  font-weight: 400;
  margin-bottom: clamp(25px, 4vw, 50px);
  color: var(--black);
  line-height: 130%;
  letter-spacing: 0;
  text-align: center;
}

.modal-title.center,
.modal-text.center {
  text-align: center;
}

.modal-text {
  font-size: var(--fs-sm);
  color: var(--grey);
  margin-bottom: clamp(25px, 4vw, 50px);
  line-height: 130%;
  letter-spacing: 0;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: clamp(16px, 2vw, 32px);
}

.modal-form .profile-field {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-form .profile-field label {
  font-weight: 400;
  font-size: var(--fs-sm-sm);
  color: var(--white-grey);
  line-height: 130%;
  letter-spacing: 0;
}

.modal-form .profile-field input {
  width: 100%;
  padding: clamp(10px, 1.5vw, 20px) clamp(14px, 1.5vw, 24px);
  border: 1px solid #e5e7eb;
  border-radius: var(--br-sm);
  font-size: var(--fs-sm);
  outline: none;
  transition: border-color 0.2s ease;
  color: var(--black);
}

.modal-form .profile-field input::placeholder {
  color: var(--grey);
}

.modal-form .profile-field input:focus {
  border-color: var(--blue);
}

.modal-form .profile-field .select-wrapper select {
  width: 100%;
  padding: clamp(10px, 1.5vw, 20px) clamp(14px, 1.5vw, 24px);
  border: 1px solid #e5e7eb;
  border-radius: var(--br-sm);
  font-size: var(--fs-sm);
  outline: none;
  transition: border-color 0.2s ease;
  color: var(--grey);

  background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>")
    no-repeat;
  background-position: calc(100% - 0.75rem) center !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  appearance: none !important;
  padding-right: 2rem !important;
}

.modal-form .checkbox-field {
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.modal-form .checkbox-field span {
  font-weight: 400;
  font-size: var(--fs-sm);
  color: var(--white-grey);
}

.modal-form .checkbox-field .toggle-switch {
  position: relative;
  display: inline-block;
  width: 64px;
  height: 32px;
}

.modal-form .checkbox-field .toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.modal-form .checkbox-field .toggle-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e4e7eb;
  transition: 0.3s;
}

.modal-form .checkbox-field .toggle-switch .slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 4px;
  background-color: var(--white);
  transition: 0.3s;
}

.modal-form .checkbox-field .toggle-switch .slider.round {
  border-radius: 100px;
}

.modal-form .checkbox-field .toggle-switch .slider.round:before {
  border-radius: 50%;
}

.modal-form .checkbox-field .toggle-switch input:checked + .slider {
  background-color: var(--green);
}

.modal-form .checkbox-field .toggle-switch input:checked + .slider:before {
  transform: translateX(32px);
}

.modal-submit-btn {
  border-radius: var(--br-md);
  font-weight: 600;
  font-size: var(--fs-sm-sm);
  letter-spacing: 2px;
  padding: clamp(10px, 1.5vw, 20px);
  background-color: var(--green);
  color: var(--blue);
  border: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.modal-submit-btn:hover {
  background-color: var(--blue);
  color: var(--white);
}

.modal-actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.modal-actions .profile-btn-cancel {
  border-radius: var(--br-md);
  font-weight: 600;
  font-size: var(--fs-sm-sm);
  letter-spacing: 2px;
  padding: 20px;
  border: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  background-color: #e8e8e8;
  color: var(--white-grey);
}

.modal-actions .profile-btn-cancel:hover {
  background-color: var(--main-bg);
}

.modal-actions .modal-btn-danger {
  background: #e53e3e;
  color: white;
  border-radius: var(--br-md);
  font-weight: 600;
  font-size: var(--fs-sm-sm);
  letter-spacing: 2px;
  padding: 20px;
  border: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.modal-actions .modal-btn-danger:hover {
  background-color: #c53030;
}
/* address end */
/* PROFILE END */

/* PACKAGE PAGE START */
/* .pack-container {
  background-color: #f2f2f2;
  padding: clamp(20px, 4vw, 50px) 0;
  min-height: 100vh;
} */
.pack-container {
  padding-bottom: 90px;
}
.pack-wrapper {
  padding: clamp(20px, 4vw, 50px) 0;
}
.pack-wrapper .pack-header-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: clamp(25px, 4vw, 50px);
}
.pack-wrapper .pack-header-wrapper h1 {
  font-size: var(--fs-xl);
  font-weight: 400;
  color: var(--black);
  line-height: 130%;
  letter-spacing: 0;
}

.track-wrapper {
  background-color: var(--main-bg);
  border-radius: var(--br-sm-md);
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: clamp(16px, 2vw, 32px);
}

.track-wrapper .track-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--white-grey);
  font-size: var(--fs-sm);
  font-weight: 500;
  border: none;
  width: 100%;
  line-height: 120%;
}

.track-wrapper .track-icon img {
  width: 20px;
  height: 20px;
}

.track-wrapper form .form-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.track-wrapper form .form-item input {
  width: 100%;
  border: 1px solid #e5e7eb;
  padding: clamp(10px, 1.5vw, 20px) clamp(14px, 1.5vw, 24px);
  border-radius: var(--br-sm);
  font-weight: 400;
  font-size: var(--fs-sm);
  color: var(--black);
  letter-spacing: 0;
  line-height: 130%;
}

.track-wrapper form .form-item input:focus {
  outline: none;
  box-shadow: none;
  border-color: var(--blue);
}

.track-wrapper form .form-item input::placeholder {
  color: var(--white-grey);
}

.track-wrapper form .form-item button {
  padding: clamp(10px, 1.5vw, 20px);
  width: 100%;
  background-color: var(--green);
  color: var(--blue);
  font-weight: 600;
  font-size: var(--fs-sm-sm);
  border: none;
  border-radius: var(--br-md);
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.track-wrapper form .form-item button:hover {
  background-color: var(--blue);
  color: var(--white);
}
/* PACKAGE PAGE END */
.package-list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.package-list-wrapper .package-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.package-list-wrapper .package-list .package-item {
  border: 1px solid #e5e7eb;
  border-radius: var(--br-sm);
  background: var(--white);
  overflow: hidden;
  transition:
    box-shadow 0.3s ease-in-out,
    border-color 0.3s ease-in-out;
}

.package-list-wrapper .package-list .package-item:hover {
  border-color: #cbd5e1;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.09);
}

/* Шапка списка */
.package-list-wrapper .package-list .package-item .package-item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: clamp(10px, 1vw, 16px) clamp(15px, 1.5vw, 25px);
  cursor: pointer;
  user-select: none;
}

.package-list-wrapper .package-list .package-item-main {
  display: flex;
  align-items: center;
  gap: 16px;
}

.package-list-wrapper .package-list .package-item-main .parcel-icon {
  width: 48px;
  height: 48px;
  background-color: rgba(25, 33, 137, 0.1);
  border-radius: var(--br-sm-md);
  display: flex;
  align-items: center;
  justify-content: center;
}

.package-list-wrapper .package-list .package-item-main .parcel-icon img {
  width: 20px;
  height: 20px;
}

.package-item-info .parcel-title {
  font-size: var(--fs-sm);
  font-weight: 500;
  color: var(--black);
  line-height: 100%;
  letter-spacing: -0.45px;
  margin-top: 5px;
}

.package-item-info .parcel-id {
  font-size: var(--fs-sm-sm);
  color: var(--blue);
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0;
}

.package-list-wrapper .package-item-meta {
  display: flex;
  align-items: center;
  gap: clamp(5px, 1.5vw, 20px);
}

.package-list-wrapper .package-item-meta .status-badge {
  padding: 6px 12px;
  border-radius: calc(var(--br-md) - 4px);
  font-size: var(--fs-sm-sm);
  font-weight: 500;
}

.package-list-wrapper .package-item-meta .status-in-transit {
  background-color: #dcf6e0;
  color: #188b30;
}

.package-list-wrapper .toggle-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.package-list-wrapper .toggle-btn img {
  width: 30px;
  height: 30px;
}

.package-item .parcel-card-wrapper {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition:
    max-height 0.35s ease,
    opacity 0.25s ease,
    padding 0.35s ease;
  padding: 0 24px;
  border-top: 0px solid #f1f5f9;
}

.package-item.active .parcel-card-wrapper {
  max-height: 1000px;
  opacity: 1;
  padding: clamp(10px, 1vw, 16px) clamp(15px, 1.5vw, 25px);
  border-top-width: 1px;
}

.package-item.active .toggle-btn {
  transform: rotate(180deg);
}

.package-item.is-hidden {
  display: none !important;
}

.show-more-wrapper {
  display: flex;
  justify-content: center;
}

.btn-show-more {
  padding: clamp(10px, 1.5vw, 20px) clamp(20px, 3vw, 40px);
  background-color: var(--green);
  color: var(--blue);
  font-weight: 600;
  font-size: var(--fs-sm-sm);
  border: none;
  border-radius: var(--br-md);
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.btn-show-more:hover {
  background-color: var(--blue);
  color: var(--white);
}

.btn-show-more .arrow-icon {
  transition: transform 0.3s ease;
}

.btn-show-more.is-expanded img {
  transform: rotate(180deg);
}
