@media (max-width: 992px) {
  .sign-in-wrapper {
    grid-template-columns: 1fr;
  }
  .sign-in-wrapper .left .form-wrapper {
    padding: 0;
  }
  .sign-in-wrapper .right {
    display: none;
  }

  .nav {
    position: relative;
  }

  .mobile-menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    width: auto;
  }

  .nav .right-nav-menu-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .nav .right-nav-menu-wrapper .profile-wrapper a {
    display: none;
  }

  .nav-menu-wrapper {
    position: fixed;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 32px);
    max-width: 400px;
    border-radius: 200px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    padding: 13.5px 24.5px;
    z-index: 999;
    background-color: var(--white);
  }

  .nav .nav-menu-wrapper ul {
    justify-content: space-around;
    gap: 0;
  }

  .nav .nav-menu-wrapper ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    color: var(--white-grey);
    text-decoration: none;
    font-size: var(--fs-sm-sm);
    border: none !important;
    padding-bottom: 0 !important;
  }

  .nav-icon {
    display: block;
    stroke: var(--white-grey);
    transition: all 0.2s ease;
  }

  .nav .nav-menu-wrapper ul li a.active {
    color: var(--blue);
    font-weight: 500;
  }

  .nav .nav-menu-wrapper ul li a.active .nav-icon {
    stroke: var(--blue);
  }

  body {
    padding-bottom: 80px;
  }
  /* navbar end */
}

@media (max-width: 768px) {
  .tab-group {
    display: none !important;
  }

  .home-tab-container .tab-wrapper {
    background-color: var(--white);
    border-radius: var(--br-sm-md);
    padding: 24px 16px 16px;
  }

  .home-tab-container .tab-wrapper .tab-content {
    background: transparent;
  }

  .mobile-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: var(--fs-sm);
    font-weight: 600;
    color: var(--blue);
    margin-bottom: 20px;
  }

  .mobile-header img {
    width: 20px;
    height: 20px;
  }

  .home-tab-container .tab-wrapper .tab-pane.active {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0;
  }

  .btn-track {
    background-color: var(--green);
    color: var(--blue);
    border-radius: var(--br-md);
    padding: 20px;
    font-weight: 600;
  }

  .btn-calc-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    background-color: var(--blue);
    color: var(--green);
    border-radius: var(--br-md);
    padding: 20px;
    font-size: var(--fs-sm-sm);
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    box-sizing: border-box;
  }

  .btn-calc-mobile img {
    width: 20px;
    height: 20px;
  }

  .home-tab .parcels-section .filters-bar .filter-group .filter-label {
    width: 100%;
    text-align: center;
  }

  .home-tab .parcels-section .filters-bar .filter-group {
    justify-content: center;
    margin: 0 auto;
  }
  .home-tab .parcel-card .parcel-header {
    align-items: start;
    flex-direction: column-reverse;
  }
  .home-tab .parcel-card .parcel-route .location-pill {
    flex-direction: column;
    border: none;
    padding: 0;
  }
  .home-tab .parcel-card .parcel-route .location-pill img {
    display: none;
  }
}

@media (max-width: 576px) {
  .nav .logo-wrapper {
    display: none;
  }
  .nav .right-nav-menu-wrapper {
    width: 100%;
    justify-content: space-between;
    grid-template-columns: repeat(1, 1fr);
    display: grid;
  }
  .nav .right-nav-menu-wrapper .language-wrapper {
    grid-column-start: 5;
  }
  .nav .right-nav-menu-wrapper .exit-wrapper {
    grid-column-start: 6;
  }
  .nav .nav-menu-wrapper ul li a {
    font-size: calc(var(--fs-sm-sm) - 2px);
  }
  .nav .right-nav-menu-wrapper .profile-wrapper a {
    display: block;
  }
}
